@page
@model IndexModel
@{
    ViewData["Title"] = "V.S.E.G WebApplication";
}

<div class="text-center">
    
    <p>Welcome to the international course.</p>
<img src="/images/1.png" width="90%" />
</div>
